.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 30px;
}

.user {
  display: flex;
  align-items: center;
  gap: 20px;
}

.userDetail {
  display: flex;
  flex-direction: column;
}

.username {
  font-weight: 900;
  font-size: 20px;
  color: var(--textSoft);
}

.container span {
  color: var(--textSoft);
  font-size: 12px;
}
