.table {
  background-color: var(--bgSoftAlternative);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.header {
  width: 100%;
  height: 10%;
  padding: 0.8rem 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  margin-bottom: 20px;
  font-weight: 200;
  color: var(--textSoft);
}
.CPDataTable {
  max-width: 950px;
  margin: 20px 0;

  border-radius: 10px;
}
.CPDataTable table {
  border-collapse: collapse;
  width: 100%;
}

.alertContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.alertBox {
  padding: 20px;

  padding-top: 80px;
  text-align: center;
  letter-spacing: 1px;
  padding: 3rem;
  color: var(--textSoft);
}

.CPDataTable table td,
.CPDataTable table th {
  text-align: left;

  border-bottom: 1px solid #2f9c95;

  padding: 10px 15px;
}

.CPDataTable table th button {
  background: none;
  border: none;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 12px;
  color: var(--textSoft);
}
.CPDataTable table tbody {
  font-size: 13px;
  color: var(--textSoft);
}

.dots {
  cursor: pointer;
  border-radius: 10px;
  background: none;
  border: none;
}

.CPDataTable footer {
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.CPDataTable footer button {
  border: none;
  padding: 5px;
  cursor: pointer;
  background: none;
  color: var(--bgSoft);
}

.icon:hover {
  color: #2e374a;
}
