.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 20px;
}

.pages {
  display: flex;
  align-items: center;
  gap: 10px;

  padding: 10px;
  border-radius: 10px;
}

.icons {
  display: flex;
  gap: 4px;
}

.icons button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: none;
  color: var(--bgSoft);
  display: flex;
  align-items: center;
}

.container button:disabled {
  cursor: not-allowed;
  color: grey;
  opacity: 0.3;
}

.container button:hover {
  color: #2e374a;
}

.pagination p {
  color: var(--textSoft);
}
